* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
	user-select: none;
}

ul,
li {
  list-style: none;
}

input:focus {
  outline: none;
}

/* Find ID */
.find-id {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.find-id_title {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  margin-bottom: 40px;
  font-size: 40px;
}

.find-id__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.find-id__list:last-child {
  margin-top: 30px;
}

.find-id__list__container {
  display: flex;
}

.find-id__input-title {
  display: block;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 16px;
  margin-bottom: 12px;
}

.find-id__input-container {
  position: relative;
}

.find-id__input-container::after {
  display: block;
  content: "\f00c";
  font-family: FontAwesome;
  color: #cfd2d4;
  position: absolute;
  left: 465px;
  top: 16px;
}

.find-id__timer {
  margin-left: 8px;
  font-size: 14px;
  color: red;
}

.find-id__input {
  height: 50px;
  font-size: 20px;
  padding-left: 14px;
}

.find-id__input,
.find-id__btn {
  display: block;
  width: 500px;
  font-family: "Nanum Gothic", sans-serif;
  border: 1px solid #ccd2d8;
}

.find-id__btn {
  height: 64px;
  margin-top: 20px;
  cursor: pointer;
  font-size: 22px;
  background-color: #c4c4c4;
  border: 1px solid black;
  font-weight: 700;
  transition: all 0.3s ease;
}

.find-id__btn:hover {
  background-color: #000;
  color: #fff;
}

.find-id__alert {
  margin-top: 6px;
  height: 12px;
}

/* Modal */
.modal {
  border: 1px solid #000;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 700px;
  height: 300px;
  background-color: #fff;
  transition: opacity 0.3 ease;
}

.modal__header {
  position: relative;
  height: 40px;
  border: 1px solid #000;
  background-color: #000;
}

.modal__close-btn {
  display: block;
  position: absolute;
  top: 25%;
  right: 10px;
  background: url('/images/tab-delete-button.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.modal__description {
  font-family: "Nanum Gothic", sans-serif;
  display: flex;
  height: 260px;
  justify-content: center;
  align-items: center;
  user-select: text;
}

.modal__user-id {
  margin: 0 5px;
}

/* Alert */
.find-id__alert-info {
  display: none;
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 400;
  font-size: 12px;
}

.wrong {
  color: red;
}

.correct {
  color: #696564;
}

.active {
  display: block;
}

.close {
  display: none;
}