body {
	user-select: none;
}

ul,
li {
	list-style: none;
}

button {
	border: 0;
	outline: 0;
	background-color: transparent;
	cursor: pointer;
}

table {
	border-collapse: collapse;
}

/* body */
body {
	background-color: black;
	color: white;
}

.main {
	position: absolute;
	left: 50%;
	top: 150px;
	transform: translate(-50%);
	width: 500px;
}

/* tab */
.friend-tab {
	display: flex;
	justify-content: space-between;
}

.friend-tab .active {
	border-bottom: 2px solid #00a3ff;
}

.friend-tab li {
	padding: 0 0 4px 0;
}

.friend-tab button {
	font-size: 18px;
	color: white;
}

.num-of-friend,
.num-of-request {
	text-align: center;
	color: #00a3ff;
	font-size: 18px;
}

/* contents */
.contents {
	margin-top: 20px;
}

.search-form-control {
	position: relative;
	display: none;
}

.search-form-control.active {
	display: block;
}

.search-form-control i {
	position: absolute;
	color: black;
	left: 7px;
	top: 8px;
}

/* input */
.search-user,
.search-friend {
	display: none;
	font-family: "Nanum Gothic", sans-serif;
	width: 500px;
	height: 30px;
	border: 1px solid black;
	text-indent: 27px;
	font-size: 14px;
	margin: 11px 0 30px 0;
	border-radius: 10px;
}

.search-user.active,
.search-friend.active {
	display: block;
}

.search-user:focus,
.search-friend:focus {
	outline: none;
}

/* search table */
/* friend table */
/* request table */
.request-table,
.friend-table,
.user-table {
	display: none;
	width: 500px;
	height: 65vh;
	position: relative;
}

.request-table:hover .cover-bar,
.friend-table:hover .cover-bar,
.user-table:hover .cover-bar {
	opacity: 0;
	transition: all 0.5s;
}

.request-table__contents,
.friend-table__contents,
.user-table__contents {
	width: 100%;
	height: 100%;
	overflow-y: auto;
}

.request-table__contents::-webkit-scrollbar,
.friend-table__contents::-webkit-scrollbar,
.user-table__contents::-webkit-scrollbar {
	width: 10px;
	overflow: visible;
	border-radius: 4px;
	background-color: rgba(255, 255, 255, 0.087);
}

.request-table__contents::-webkit-scrollbar-thumb,
.friend-table__contents::-webkit-scrollbar-thumb,
.user-table__contents::-webkit-scrollbar-thumb {
	border-radius: 10px;
	overflow: visible;
	border-radius: 4px;
	background: rgba(255, 255, 255, 0.2);
}

.request-table__list-item,
.friend-table__list-item,
.user-table__list-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 40px;
	font-size: 17px;
	transition: all 0.3s ease;
}

.request-table.active,
.friend-table.active,
.user-table.active {
	display: block;
	position: relative;
}

.request-table__list:hover,
.friend-table__list:hover,
.user-table__list:hover {
	background-color: rgb(38, 38, 38);
	border-radius: 5px;
}

.request-table__nickname,
.friend-table__nickname,
.user-table__nickname {
	padding-left: 10px;
}

.user-table__btn-plus {
	color: #00a3ff;
	font-size: 17px;
	padding-right: 10px;
}

.user-table__btn-reset,
.friend-table__btn-delete {
	color: #f16767;
	font-size: 17px;
	padding-right: 10px;
}

.request-table__btn {
	display: flex;
}

.request-table__btn-accept {
	color: #00a3ff;
	font-size: 17px;
	margin-right: 10px;
}

.request-table__btn-refuse {
	color: #f16767;
	font-size: 17px;
	margin-right: 10px;
}

.request-table button:hover,
.friend-table button:hover,
.user-table button:hover {
	text-decoration: underline;
}

/* btn description */
.user-table__description {
	color: aliceblue;
	padding-right: 10px;
	font-size: 15px;
}

.cover-bar {
	width: 10px;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	transition: all 0.5s;
	opacity: 1;
	background-color: black;
}
